data
__pycache__
logs
sessions
tools/tmp
tools/__pycache__
staluigi/__pycache__
staluigi.egg-info
build

*.zip
in-data/*.csv
in-data/.ipynb_checkpoints
in-data/DTYPES.yaml
storage/EBSSBS_PRL_A_PRIM.sqlite
