data
__pycache__
logs
sessions
tools/tmp
tools/__pycache__
staluigi/__pycache__
staluigi.egg-info
build

*.zip
in-data/*.csv
docs/test_10_lines.csv

docs/*.db
in-data/.ipynb_checkpoints
in-data/DTYPES.yaml
storage/*.sqlite
storage/*.pickle
proxy.py
storage/.ipynb_checkpoints

*.html
.vscode
